<section class="section news-section">
    <h2 class="section-title"><i class="fa fa-rss"></i>News</h2>
    
    <table id="news-table">
        <tr>
            <td><b>11/2022</b></td>
            <td>I was invited to talk at the IEEE ISBI special session on Machine Learning in April 2023. Looking forward for my first invited conference talk in Cartagena, Columbia!</td>
        </tr>
        <tr>
            <td><b>09/2022</b></td>
            <td>1 full paper and 1 workshop paper accepted a NeurIPS 2022.</td>
        </tr>
        <tr>
            <td><b>05/2022</b></td>
            <td>1 workshop paper accepted a ICML 2022.</td>
        </tr>
        <tr>
            <td><b>03/2022</b></td>
            <td>CNN Filter DB was selected for Oral presentation at CVPR 2022!</td>
        </tr>
        <tr>
            <td><b>01/2022</b></td>
            <td>1 full paper and 1 workshop paper accepted at CVPR 2022.</td>
        </tr>
        <tr>
            <td><b>09/2021</b></td>
            <td>1 workshop paper accepted a NeurIPS 2021.</td>
        </tr>
    </table>
    
  </section><!--//section-->
  