<section class="section overview-section">
  <h2 class="section-title"><i class="fa fa-flask"></i>Research Interest</h2>
  <div class="item">
    My current research focuses on the analysis and interpretation of intrinsic Convolutional Neural Networks (CNNs) properties through the lens of learned convolution filters. This perspective opens up research on model quality concerning the suitability for transfer learning tasks, the impact of regularization techniques such as adversarial training, more sophisticated initialization methods, and others.
  </div><!--//item-->
</section><!--//section-->
