<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-H93EGV7P9Q"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-H93EGV7P9Q');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>
<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <h1>
                Paul Gavrikov
              </h1>
              <p>
                I am a PhD student at the <a href="https://imla.hs-offenburg.de/">Institute of Machine Learning Analytics</a>, part of the Offenburg University, Germany where I work on Computer Vision. My PhD advisor is <a href="https://www.keuper-labs.org/">Janis Keuper</a>.
              <p>
              </p>
                I have a BS and MS in Computer Science from the <a href="https://uni-freiburg.de">University of Freiburg, Germany</a>.
              </p>
              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/sXKtr6XO"> Email</a> &nbsp;/&nbsp;
                <a href="https://twitter.com/paulgavrikov">X (Twitter)</a> &nbsp;/&nbsp;
                <a href="https://github.com/paulgavrikov">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=cshJtrQAAAAJ">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://linkedin.com/in/paul-gavrikov-60a4666a">LinkedIn</a> &nbsp;/&nbsp;
                <a href="https://medium.com/@paulgavrikov">Medium</a>  &nbsp;/&nbsp;
                <a href="https://dblp.org/pid/234/1360.html">dblp</a>
              </p>
            </td>
            <td style="padding:2.5%;width:35%;max-width:35%;">
              <img style="width:100%;max-width:100%;border: 0px solid #fff;border-radius: 100%;box-shadow: 0px 0px 2px rgb(0 0 0 / 35%);" alt="profile photo" src="images/small/profile.jpeg">
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>News</h2>
              <p></p>
              <div style="overflow-y: scroll; height: 230px;">
                <table id="news-table" style="width: 100%;">
                  {% for news_entry in site.data.news %}
                  <tr>
                      <td><b>{{news_entry.date}}</b></td>
                      <td>{{news_entry.text}}</td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I'm interested in fundamental research on computer vision, with a particular focus on investigating the mechanistic interpretability of deep neural networks and consequently aiming to improve their training dynamics, robustness, and generalization abilities. Before starting my PhD, I worked on Bluetooth Low Energy. <span style="background-color:#ffffd0">Highlights.</span>
              </p>
            </td>
          </tr>
        </table>
        {% if site.data.publications %}
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for year in (2018..2099) reversed %}
          {% for publication in site.data.publications %}{% if publication.time == year %}
          <tr{% if publication.highlight %}
              bgcolor="#ffffd0"
            {% endif %}>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              {% if publication.image %}
              <img src="{{publication.image}}" alt="{{publication.title}}" style="width:auto; height:auto; max-width:100%;" />
              {% endif %}
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3><a href="{{ publication.paperlink }}">{{publication.title}}</a></h3>
              <br>
              {{publication.authors}}
              <br>
              <em>{{publication.conference}}</em> {% if publication.type %}({{ publication.type }}){% endif %}
              <br>
              {% if publication.details %}
              {{publication.details}}
              {% endif %}
              <p>
                {{ publication.short }}
              </p>
            </td>
          </tr>
          {% endif %}{% endfor %}
          {% endfor %}
        </table>
        {% endif %}
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Academic Service</h2>
              <p></p>
              <table id="news-table" style="width: 100%;">
                <tr>
                    <td><b>Honors</b></td>
                    <td>
                      <li>Outstanding reviewer (NeurIPS 2022 Datasets and Benchmarks track, NeurIPS 2023)</li>
                      <li>Accepted into the CIFAR and Vector Institute DLRL 2023 Summer School in Montreal</li>
                      <li>Accepted into the ICVSS 2023 Summer School in Sicily</li>
                    </td>
                </tr>
                <tr>
                  <td><b>Conference Reviewer</b></td>
                  <td>
                    <li>ICML (2024)</li>
                    <li>ICLR (2024)</li>
                    <li>ICCV (2023)</li>
                    <li>CVPR (2023-2024)</li>
                    <li>BMVC (2023)</li>
                    <li>NeurIPS (2023)</li>
                    <li>NeurIPS Datasets and Benchmarks Track (2022-2023)</li>  
                  </td>
              </tr>
              <tr>
                <td><b>Journal Reviewer</b></td>
                <td>
                  <li>Springer Machine Learning (2023)</li>
                </td>
            </tr>
            </table>
            </td>
          </tr>
        </table>
        <br>
        <object data="images/signature.svg" width="225em" style="display: block; margin-left: auto; margin-right: auto;"></object>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

